body {
  padding: 0;
  margin: 0;
  font-family: Montserrat,Open Sans,sans-serif;
  color: #3b3b3b;
}

/* TAGLINE  */
.nav-tagline-bg {
  background-color: #f5f5f5;
}
.nav-tagline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 0 auto;
  font-size: 14px;
  width: 95%;
  max-width: 1360px;
}
.nav-tagline-text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-tagline-heart {
  color: #f16059;
}
.nav-tagline-cta {
  margin: 0;
}
.nav-tagline-cta-link {
  color: #3b3b3b;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-tagline-cta-link:hover {
  color: #f16059;
}

/* NAV-main  */
.nav-main-bg {
  border-bottom: 1px solid #d7d7d7;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
  width: 95%;
  max-width: 1360px;
}
.menu-wrapper-mobile {
  display: none;
}
.nav-logo-img {
  width: 100px;
  height: 24px;
}
.nav-logo-blog {
  display: none;
}
.menu-main {
  display: flex;
  margin: 0;
  font-size: 14px;
  align-items: center;
  list-style: none;
}
.menu-item-home {
  padding: 0 32px 0 0;
  margin: 0;
  text-transform: uppercase;
}
.menu-item-home a {
  text-decoration: none;
  color: #3b3b3b;
}
.menu-item-home a:hover {
  color: #f16059;
}
.menu-item-home-red {
  padding: 0;
  background-color: #f16059;
}
.menu-item-home-red a {
  display: block;
  padding: 14px 32px;
  color: #fff;
  font-weight: 700;
}
.menu-item-home-red a:hover {
  color: #fff;
  background-color: #be3c2d;
}
.menu-mobile {
  display: none;
}

/* NAV SECONDARY */
.nav-secondary {
  border-bottom: 1px solid #ccc;
}
.nav-secondary-title {
  margin:0 38px 0 0;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-secondary-wrapper {
  margin: 0 50px;
}
.nav-secondary-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-category {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-category > :first-child {
  margin: 0;
}
.menu-category-item {
  margin-left: 33px;
}
.menu-category-item a {
  color: #3b3b3b;
  text-decoration: none;
  font-size: 13px;
}
.menu-category-item a:hover {
  color: #f16059;
}
.blog-search {
  padding: 8px;
  margin-left: 40px;
}
.blog-search-input {
  width: 0;
  transition: all .3s;
  border: 0;
}
.blog-search-icon {
  color: #999;
  padding: 16px 8px 16px 0;
}
.blog-search-icon:hover {
  cursor: pointer;
}
.blog-search-input.expanded {
  padding: 0 10px;
  width: 104px;
  font-size: 13px;
  transition: all .3s;
  border: 0;
}
.blog-search-input:focus {
  outline: none;
}

/* BLOG WRAPPER  */
.blog-wrapper {
  width: 83%;
  max-width: 1000px;
  margin: auto;
}
.tag-frontend-developer {
  padding-top: 48px;
}
.header-article {
  margin-left: 64px;
  margin-bottom: 32px;
}
.header-article h4 {
  margin: 0 0 8px 0;
  font-size: 20px;
  text-transform: uppercase;
}
.header-article a {
  color: #f16059;
  text-decoration: none;
}
.header-article a:hover {
  color: #be3c2d;
  text-decoration: underline;
}
.header-article h1 {
  margin: 0;
  font-size: 3rem;
}
.article-content {
  display: flex;
}
.article-text p {
  margin: 0;
  line-height: 1.625;
  padding-top: 16px;
}
.article-text a {
  color: #509ea8;
  text-decoration: none;
}
.article-text a:hover {
  color: #2d7780;
}
.article-text h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 700;
  padding-top: 1.5rem;
  line-height: 1.25;
}

  /*aside aticle  */
.article-content aside {
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.autor-box-img img {
  width: 80px;
  height: 80px;
}
.autor-box-name {
  padding-bottom: 16px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 24px;
}
.autor-box-name p {
  font-weight: 700;
  font-size: 14px;
}

/* SHARE LINK  */
.share-link h4 {
  margin-top: 0;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
}
.share-link-list {
  display: flex;
  margin: 0;
  list-style: none;
}
.share-link-list li {
  margin-right: 6px;
  width: 24px;
  height: 24px;
}
/* Color for SVG ICON */
.text-primary{
  color: #f16059;
}
.fill-current {
  fill: currentColor;
}

  /*aricle main text  */
.article-text {
  display: flex;
  flex-direction: column;
}
.article-text-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.table-content-list {
  margin: 0;
}
.table-content-list li{
  padding: 12px 0 0 8px;
}
.article-text .title-link {
  color: #3b3b3b;
  padding-top: 1.5rem;
}
.article-text .title-link:hover {
  color: #3b3b3b;
}


/* NEWSLETTER */
.newsletter-container{
  margin-top: 45px;
  background: #f16059;
  border: 0;
  padding: 60px 0 55px;
}
.newsletter {
  width: 83%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.newslatter-img {
  margin-right: 20px;
  width: 60%;
}
.newslatter-img img {
  max-width: 100%;
  height: auto;
}
.newslatter-content {
  color: #fff;
}
.newslatter-content h3 {
  font-size: 1.875rem;
  margin: 0 0 8px 0;
}
.newslatter-content p {
  font-size: 19px;
  padding-bottom: 16px;
  margin:0 0 20px 0;
}
.newslatter-content .newsletter-form {
  padding-top: 1rem;
  border-top: 1px solid #f67770;
}
.newsletter-form .form-email input{
  color: #666;
  font-size: 16px;
  width: 100%;
  padding: 16px 10px;
  border: 0;
  box-sizing: border-box;
}
.newsletter-form .form-email span {
  display: block;
  margin-top: 1rem;
}
.newsletter-form .btn-singup {
  width: 100%;
  font: 18px Montserrat,sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #d63535;
  border: 0;
  padding: 19px;
  margin-top: 1rem;
}
.newsletter-form .btn-singup:hover{
  background-color: #b32828;
  outline: none;
}
.newslatter-content small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 1rem;
}


/* MD SCREEN  */
@media screen and (max-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* TAGLINE  */
  .nav-tagline {
    justify-content: center;
  }
  .nav-tagline-cta {
    display: none;
  }

  /* MAIN NAV */
  .nav-main-bg {
    background: #fff;
  }
  .nav-logo {
    display: flex;
    align-items: center;
  }
  .nav-logo-blog {
    display: block;
    padding: 0 0 0 10px;
    margin: 2px 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 1px solid black;
  }
  .menu-wrapper {
    display: none;
  }
  .menu-wrapper-mobile {
    display: block;
  }
  .btn-mobile-menu {
    background: transparent;
    border: 0;
    font-size: 22px;
    font-weight: 200;
  }
  .btn-mobile-menu:focus {
    outline: none;
  }
  /* MOBILE MENU  */
  .menu-mobile {
    display: block;
    width: 0;
    position: absolute;
    top: 28px;
    right: 0;
    background: #fff;
    height: calc(100vh - 28px);
    transition: all .3s ease-out;
  }
  .menu-mobile.open{
    width: 340px;
    transition: all .3s ease-out;
  }
  .menu-mobile .close-wrapper {
    padding: 16px 24px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #fff;
    text-align: right;
  }
  .menu-mobile .search-wrapper {
    padding: 0 48px;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
  }
  .menu-mobile .mobile-search-input {
    padding: 0 4px;
    width: 8em;
    height: auto;
    border: 0;
    color: #999;
    font-size: 16px;
  }
  .menu-mobile .mobile-search-input:focus {
    outline: none;
  }
  .mobile-menu-list {
    padding: 16px 48px 140px;
    margin: 0;
    list-style-type: none;
  }
  .mobile-menu-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0;
    width: 100%;
    align-items: center;
  }
  .mobile-menu-list li a {
    color: #3b3b3b;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-menu-list li a:hover {
    color: #f16059;
  }
  .mobile-menu-list li a span {
    padding-left: 32px;
  }
  .icon-skillcrush:before {
    font-family: FontAwesome;
    content: "\f05a";
    position: absolute;
  }
  .icon-courses:before {
    font-family: FontAwesome;
    content: "\f19d";
    position: absolute;
  }
  .icon-reviews:before{
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
  }
  .icon-coding-camp:before{
    font-family: FontAwesome;
    position: absolute;
    content: "\f09c";
  }
  .icon-singin:before{
    font-family: FontAwesome;
    position: absolute;
    content: "\f090";
  }
  .icon-blog:before{
    font-family: FontAwesome;
    position: absolute;
    content: "\f233";
  }
  .mobile-menu-list .icon-coding-camp {
    color: #f16059;
  }
  .mobile-menu-list .icon-coding-camp:hover{
    color: #be3c2d;
  }
  .menu-mobile-bg {
    width: 0;
  }
  .menu-mobile-bg.active {
    width: 100%;
    height: 100vh;
    background-color: hsla(0,0%,60%,.8);
    position: absolute;
    top: 28px;
  }

  /* NAV SECONDARY  */
  .nav-secondary {
    display: none;
  }
  /* ARTICLE  */
  .blog-wrapper {
    margin-top: 80px
  }
  /* ASIDE */
  .share-link h4  {
    display: none;
  }
  .article-content {
    flex-direction: column;
  }
  .article-content aside {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 1.5rem;
    margin-right:0;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .autor-box {
    display: flex;
    align-items: center;
  }
  .autor-box-img img{
    width: 64px;
    height: 64px;
  }
  .autor-box-name {
    padding: 0;
    border: 0;
    margin: 0 0 0 16px;
  }
  .autor-box-name p {
    font-size: 12px;
  }
  .header-article {
    margin: 0 0 24px 0;
  }
  .header-article h4 {
    font-size: 16px;
  }
  .header-article h1 {
    font-size: 30px;
  }
}

/* SM SCREEN  */
@media screen and (max-width: 768px) {
  /* NAV_TAGLINE */
  .nav-tagline {
    margin: 0 11px;
  }
  .nav-tagline-text {
    text-align: center;
    font-size: 10px;
  }

  /* ARTICLE  */
  /* ASIDE */
  .share-link-hide {
    display: none;
  }
  .tag-frontend-developer {
    padding-top: 24px;
  }
  .header-article h4 {
    font-size: 14px;
  }
  .header-article h1 {
    font-size: 24px;
  }

  /* NEWSLATTER */
  .newsletter {
    flex-direction: column;
  }
  .newsletter .newslatter-img {
    margin-bottom: 3rem;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .newsletter .newslatter-content h3 ,
  .newsletter .newslatter-content p {
    text-align: center;
  }

}
@media screen and (max-width: 576px){
  .menu-mobile.open {
    width: 100vw;
  }
  .menu-mobile-bg{
    display: none;
  }
}
